@import "quiz.css";

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ECF5FF;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-playBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 5px #5AA7EB;
    border-radius: 20px;
    padding: 80px 200px;
}

.title {
    color: #5AA7EB;
}
/* .play-btn {
    padding: 10px 70px;
    background-color: white;
    border: 1px solid #5AA7EB;
    color: #5AA7EB;
    cursor: pointer;
} */
button {
    padding: 10px 70px;
    background-color: white;
    border: 1px solid #5AA7EB;
    color: #5AA7EB;
    cursor: pointer;
}